#whatsapp {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
}

#whatsapp a {
    align-items: center;
    background-color: #3c9f5b;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 30px!important;
    justify-content: center;
    margin: 0;
    padding: 1.6rem;
    text-decoration: none;
    width: 30px!important;
}